<section class="container-fluid">
    <div id="contact" class="row contact">
        <h1>Connect with <strong>Code<span class="text-red">Stack</span></strong> Labs</h1>
        <h3>boris.gastelu@gmail.com</h3>
        <div class="social">
            <div>
                <a href="https://twitter.com/BorisGastelu" target="_blank">
                    <img src="images/twitter.png" alt="Twitter" />
                </a>
            </div>
            <div>
                <a href="https://github.com/bgastel" target="_blank">
                    <img src="images/github.png" alt="GitHub" />
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/borisgastelu" target="_blank">
                    <img src="images/linkedin.png" alt="LinkedIn" />
                </a>
            </div>
            <div>
                <a href="http://www.freecodecamp.com/bgastel" target="_blank">
                    <img src="images/fcc.png" alt="Free Coce Camp" />
                </a>
            </div>
        </div>
    </div>

    <ng-include src="'views/shared/expertise.html'"></ng-include>
    <ng-include src="'views/shared/subscribe-banner.html'"></ng-include>
    <ng-include src="'views/shared/contact-map.html'"></ng-include>
</section>
