<section class="container-fluid">
    <section id="main" class="row">
        <div class="stellar-bg" data-stellar-background-ratio="0.2">
            <div class="title-image animated">
                <h1 class="bolder">Code<span class="text-green">Stack</span> <span class="lighter">Labs</span></h1>
                <h3>Transformando Ideas en Grandes Soluciones de Software</h3>
            </div>

            <div class="down-button">
                <a class="btn" href="#team">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
        </div>
    </section>

    <ng-include src="'views/about/team.html'"></ng-include>

    <section class="row">
        <div class="fixed-attachment" style="background-repeat: no-repeat;background-position: center;background-size: cover;width: 100%;height: 400px; background-image: url(images/meeting.jpg);"></div>
    </section>

    <ng-include src="'views/shared/expertise.html'"></ng-include>
    <ng-include src="'views/shared/subscribe-banner.html'"></ng-include>
    <ng-include src="'views/shared/contact-map.html'"></ng-include>
</section>
