<section id="team" class="row text-banner text-center profile-logo animated">
    <div class="row text-banner team">
        <div class="col-md-12">
            <h2 class="text-green">Nuestro Equipo</h2>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-circle t-img" src="images/boris.png" alt="CodeStack" />
            <h4 class="text-green"><strong>Boris Gastelú</strong></h4>
            <h4 class="bolder">Fundador</h4>
            <h4>Ama programar y aprender nuevas tecnologías.</h4>
            <h4 class="text-green">@borisgastelu</h4>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-circle t-img" src="images/gio.png" alt="CodeStack" />
            <h4 class="text-green"><strong>Giovanni Camana</strong></h4>
            <h4 class="bolder">Co-Fundador</h4>
            <h4>Músico de corazón. Desarrollo de Software</h4>
            <h4 class="text-green">@jeanvillafuerte</h4>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-circle t-img" src="images/jean.png" alt="CodeStack" />
            <h4 class="text-green"><strong>Jean Villafuerte</strong></h4>
            <h4 class="bolder">Co-Fundador</h4>
            <h4>Ama los juegos de computadora. Diseño de Interfaces.</h4>
            <h4 class="text-green">@giovannicamana</h4>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-circle t-img" src="images/nilton.png" alt="CodeStack" />
            <h4 class="text-green"><strong>Nilton Mendoza</strong></h4>
            <h4 class="bolder">Desarrollador iOS</h4>
            <h4>Conocer nuevos lugares alredor del mundo.</h4>
            <h4 class="text-green">@nilmen</h4>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-circle t-img" src="images/rosa.png" alt="CodeStack" />
            <h4 class="text-green"><strong>Rosa Borjas</strong></h4>
            <h4 class="bolder">Desarrollador Android</h4>
            <h4>Escuchar buena música en la playa.</h4>
            <h4 class="text-green">@rosaborjas</h4>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-circle t-img" src="images/cyntia.png" alt="CodeStack" />
            <h4 class="text-green"><strong>Cyntia Corrales</strong></h4>
            <h4 class="bolder">Diseño Web y Móviles</h4>
            <h4>Ver animes y disfrutar de buenas peliculas.</h4>
            <h4 class="text-green">@cyntiacor</h4>
        </div>
    </div>
</section>
