<div class="row">
    <div class="col-md-6 s-col-6" style="height: 500px;  margin: 0">
        <div class="s-map">
            <div id="google-map" class="g-map"></div>
            <div class="s-close">
                <div class="s-boton-map">Close Map</div>
            </div>
        </div>
        <div class="s-bottonbox">
            <div class="s-boton-map s-open  g-green">Open Mapa</div>
        </div>
    </div>
    <div class="col-md-6 s-col-6" style="height: 500px; background-color: #37cc81; margin: 0">
        <div class="s-centered">
            <div class="s-centered-text">
                <div class="s-info">
                    <h4>get in touch</h4>
                    <a href="mailto:giovanni@codestack.com">giovanni@codestack.com</a>
                    <a href="telf:(+51)96173505">(+51)96173505</a>
                </div>
            </div>
        </div>
    </div>
</div>
