<div class="row box-banner">
    <div class="col-md-12 text-center xp-list">
        <h1 class="text-green">Nuestra Experiencia</h1>
        <h4>Estrategia de Productos</h4>
        <h4>Diseño UX</h4>
        <h4>Diseño de Sistemas</h4>
        <h4>Ingenieria Full Stack</h4>
    </div>

    <div class="col-md-12 text-center box-parent">
        <div class="col-md-6 box-child box-orange">
            <div class="big-font">100+</div>
            <h3>de usuarios felices</h3>
        </div>
        <div class="col-md-3 box-child box-green">
            <div class="big-font">8+</div>
            <h3>años desarrollando software</h3>
        </div>
        <div class="col-md-3 box-child box-blue">
            <div class="big-font">20+</div>
            <h3>especialistas e ingenieros</h3>
        </div>
    </div>
</div>
