<div class="row text-center">
    <h3>Compartimos nuestras ideas en Desarrollo de Software, Diseño, Trabajo Remoto y la Cultura de nuestro equipo</h3>
    <p>Recibe nuestros últimos posts en tu correo cada semana.</p>

    <div class="form col-md-6 col-md-offset-3">
        <div class="col-md-8 text-right">
            <input type="text" class="form-control" placeholder="correo@dominio.com" />
        </div>
        <div class="col-md-4 text-left">
            <button class="btn btn-primary">Suscribete</button>
        </div>
    </div>
</div>
