<div class="row s-row">
    <div class="s-suscribete">
        <div class="s-h3">
            <h3>Compartimos nuestras ideas en Desarrollo de Software, Diseño, Trabajo Remoto y la Cultura de nuestro equipo</h3>
        </div>
        <div class="s-p">
            <p>Recibe nuestros últimos posts en tu correo cada semana.</p>
        </div>
        <div class="s-form">
            <div class="s-form-wrapp">
                <input type="email" class="s-input" placeholder="correo@dominio.com" />
            </div>
            <div class="s-form-wrapp">
                <button class="s-btn" >Suscribete</button>
            </div>
        </div>
    </div>
</div>
