#team.row.text-banner.text-center.profile-logo.animated
    .row.text-banner.team
        .col-md-12
            h2.text-green Nuestro Equipo
            
        .col-md-4
            img.img-responsive.img-circle.t-img(src="images/boris.png", alt="Boris Gastelú")
            h4.text-green #[strong Boris Gastelú]
            h4.bolder Fundador
            h4 Ama programar y aprender nuevas tecnologías.
            h4.text-green @borisgastelu
            
        .col-md-4
            img.img-responsive.img-circle.t-img(src="images/gio.png", alt="Giovanni Camana")
            h4.text-green #[strong Giovanni Camana]
            h4.bolder Co-Fundador
            h4 Ama los juegos de computadora. Diseño de Interfaces.
            h4.text-green @giogiojs
            
        .col-md-4
            img.img-responsive.img-circle.t-img(src="images/jean.png", alt="Jean Villafuerte")
            h4.text-green #[strong Jean Villafuerte]
            h4.bolder Co-Fundador
            h4 Músico de corazón. Desarrollo de Software.
            h4.text-green @jeanvillafuerte
            
        .col-md-4
            img.img-responsive.img-circle.t-img(src="images/nilton.png", alt="Nilton Mendoza")
            h4.text-green #[strong Nilton Mendoza]
            h4.bolder Desarrollador iOS
            h4 Conocer nuevos lugares alredor del mundo.
            h4.text-green @nilmen
            
        .col-md-4
            img.img-responsive.img-circle.t-img(src="images/rosa.png", alt="Rosa Borjas")
            h4.text-green #[strong Rosa Borjas]
            h4.bolder Desarrollador Android.
            h4 Escuchar buena música en la playa.
            h4.text-green @rosaborjas
            
        .col-md-4
            img.img-responsive.img-circle.t-img(src="images/cyntia.png", alt="Cyntia Corrales")
            h4.text-green #[strong Cyntia Corrales]
            h4.bolder Diseño Web y Móviles.
            h4 Ver animes y disfrutar de buenas peliculas.
            h4.text-green @cyntiacor
