<section class="container-fluid">
    <section id="main" class="row">
        <div class="stellar-bg" data-stellar-background-ratio="0.2">
            <div class="title-image animated">
                <h1><strong>Code<span class="text-red">Stack</span></strong> Labs</h1>
                <h3>Transformando Ideas en Grandes Soluciones de Software</h3>
            </div>

            <div class="down-button">
                <a class="btn" href="#about">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="about" class="row text-banner text-center profile-logo animated">
        <div class="row text-banner">
            <img class="img-responsive img-circle" src="images/profile.png" alt="CodeStack" />
            <h1><strong>Code<span class="text-red">Stack</span></strong> Labs</h1>
            <p>Somos una startup peruana con sede en Lima con un gran interés de generar valor para nuestros clientes, integrando tecnologías modernas de desarrollo de software con la experiencia de usuario y diseño en la búsqueda de un producto eficiente.</p>

            <p>Ayudamos a nuestros clientes a alcanzar el mayor beneficio ROI y las capacidades de desarrollo de su producto, desarrollando con calidad, software innovador, realizando pruebas continuas y métodos de desarrollo ágil
                y ganar una posición competitiva en el mercado.</p>

            <p> Contamos con un equipo altamente comprometido con nuestros clientes y capacitados en las nuevas tendencias de desarrollo de software.</p>
        </div>

        <div class="row text-banner">
            <div class="item">
                <div class="col-md-6 image left">
                    <img class="img-responsive img-circle" src="images/profile.png" alt="CodeStack" />
                </div>

                <div class="col-md-6 description right">
                    <h2><strong>Code<span class="text-red">Stack</span></strong> Labs</h2>
                    <p>I'm a self taught web developer, co-founder and entrepreneur based in The U.S. I'm currently part of a small web development team in an upcoming start-up, building web and mobile applications. My passion is to use technology based solutions,
                        to help solve real world challenges.</p>
                </div>
            </div>
        </div>

        <div class="row text-banner">
            <div class="item">
                <div class="col-md-6 image right">
                    <img class="img-responsive img-circle" src="images/profile.png" alt="CodeStack" />
                </div>

                <div class="col-md-6 description left">
                    <h2><strong>Code<span class="text-red">Stack</span></strong> Labs</h2>
                    <p>I'm a self taught web developer, co-founder and entrepreneur based in The U.S. I'm currently part of a small web development team in an upcoming start-up, building web and mobile applications. My passion is to use technology based solutions,
                        to help solve real world challenges.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="portafolio" class="row activity-section">
        <div class="activity-element col-md-4 animated">
            <img src="images/wip-postit.png" alt="Quote Machine" />
            <h2>Quote Machine</h2>
            <!-- <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
        </div>

        <div class="activity-element col-md-4 animated">
            <img src="images/wip-postit.png" alt="Calculator" />
            <h2>Calculator</h2>
            <!-- <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
        </div>

        <div class="activity-element col-md-4 animated">
            <img src="images/wip-postit.png" alt="Pomodoro Clock" />
            <h2>Pomodoro Clock</h2>
            <!-- <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
        </div>
    </section>

    <section class="row">
        <div class="fixed-attachment" style="background-repeat: no-repeat;background-position: center;background-size: cover;width: 100%;height: 400px; background-image: url(images/meeting.jpg);"></div>
    </section>
</section>
