.row
    .col-md-6.s-col-6(style="margin: 0; background-image: url(images/map.png);")
        //- .s-map
        //-     #google-map.g-map
        //-     .s-close
        //-         .s-boton-map Cerrar Mapa
        //- 
        //- .s-bottonbox
        //-     .s-boton-map.s-open.g-green Abrir Mapa
    
    .col-md-6.s-col-6(style="background-color: #37cc81; margin: 0;")
        .s-centered
            .s-centered-text
                .s-info
                    h4 Estemos en contacto
                    a(href="#") Jr. Jorge Chávez 252, Surco - Lima
                    a(href="mailto:giovanni@codestack.com") giovanni@codestack.co
                    a(href="telf:(+51)96173505") (+51)96173505
