.row.box-banner
    .col-md-12.text-center.xp-list(style="background-color: #000; color: #fff; margin: 0 auto; padding: 70px;")
        h1.text-green Nuestra Experiencia
        h5.text-muted Somos una startup peruana comprometida con el cliente
        h5.text-muted y la generación de productos software a medida de cálidad.
        h4 Estrategia de Productos
        h4 Diseño UX
        h4 Diseño de Sistemas
        h4 Ingenieria Full Stack
        
    .col-md-12.text-center.box-parent
        .col-md-6.box-child.box-orange
            .big-font 100+
            h3 de usuarios felices
            
        .col-md-3.box-child.box-green
            .big-font 5+
            h3 años desarrollando software
            
        .col-md-3.box-child.box-blue
            .big-font 10+
            h3 especialistas e ingenieros
