.row.s-row
    .s-suscribete
        .s-h3
            h3 Compartimos nuestras ideas en Desarrollo de Software, Diseño, Trabajo Remoto y la Cultura de nuestro equipo
        .s-p
            p Recibe nuestros últimos posts en tu correo cada semana.
        .s-form
            .s-form-wrapp
                input.s-input(type="email", placeholder="correo@dominio.com")
            .s-form-wrapp
                button.s-btn Suscribete        
