doctype html
head
    base(href="/")
    meta(charset="utf-8")
    title CodeStack
    
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    
    link(rel="stylesheet", href="/vendor/font-awesome-bower/css/font-awesome.css")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/animate.css/animate.css")
    link(rel="stylesheet", href="/lib/jquery.fs.wallpaper/jquery.fs.wallpaper.css")
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="/css/shared.css")
    
body(ng-app='codestack')
    block index
    include scripts
