script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.js")
script(src="/vendor/waypoints/lib/jquery.waypoints.js")
script(src="/vendor/classie/classie.js")

script(src="/lib/cbpAnimatedHeader/cbpAnimatedHeader.js")
script(src="/lib/jquery.fs.wallpaper/jquery.fs.wallpaper.js")
script(src="/lib/jquery.easing/jquery.easing.js")
script(src="/lib/jquery.stellar/jquery.stellar.js")

script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-route/angular-route.js")
script(src="/vendor/angular-animate/angular-animate.js")

script(src="/lib/common-ui/ui.js")

script(src="/app/app.js")
script(src="/app/about/aboutCtrl.js")
script(src="/app/work/workCtrl.js")

script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
script(src="/lib/common-ui/google-map.js")
