<div id="our-work" class="row box-banner" style="margin-top: 50px; margin-bottom: 50px;">
    <h1 class="text-green text-center" style="margin-bottom: 50px;">
        Algunos de nuestros trabajos
    </h1>

    <div class="col-md-12 text-center xp-list"
        style="background-color: rgba(6, 56, 112, 0.91);
        color: #fff;
        margin: 0 auto;
        padding: 70px;">
        <div class="col-md-6 box-child">
            <h1 class="big-font">Trans<span class="text-orange bolder">Mobile</span></h1>
            <h4>Visualización y Control de Actividades de Transporte</h4>
            <h5>
                Solución móvil que integra de manera eficiente las operaciones de transporte entre la oficina y la carretera, permitiendo gestionar actividades de manera rápida y eficiente.
            </h5>
        </div>
        <div class="col-md-6">
            <img src="images/transmobile.png" style="height: 70%; width: 70%;" />
        </div>
    </div>

    <div class="col-md-12 text-center xp-list"
        style="background-color: rgb(17, 163, 182);
        color: #fff;
        margin: 0 auto;
        padding: 70px;">
        <div class="col-md-6">
            <img src="images/transdepot.png" style="height: 70%; width: 70%;" />
        </div>
        <div class="col-md-6 box-child">
            <h1 class="big-font">Trans<span class="text-orange bolder">Depot</span></h1>
            <h4>Visibilidad detallada en tiempo real.</h4>
            <h5>
                Manejo completo de las operaciones diarias, manteniendo integrada toda la información del negocio: contratos, contenedores, mantenimiento & reparación, ordenes de trabajo, etc.
            </h5>
        </div>
    </div>

    <div class="col-md-12 text-center xp-list"
        style="background-color: rgba(255, 152, 0, 0.73);
        color: #fff;
        margin: 0 auto;
        padding: 70px;">
        <div class="col-md-6 box-child">
            <h1 class="big-font">Mixtura</h1>
            <h4>Comparte tu música y colabora creando listas.</h4>
            <h5>
                Sientete dentro de la fiesta en todo momento. Únete a la sala, crea listas y sincronizalas con tus amigos.
            </h5>
        </div>
        <div class="col-md-6">
            <img src="images/mixtura.png" style="height: 70%; width: 70%;" />
        </div>
    </div>

    <div class="col-md-12 text-center xp-list"
        style="background-color: #30DCFF;
        color: #fff;
        margin: 0 auto;
        padding: 70px;">
        <div class="col-md-6">
            <img src="images/transmr.png" style="height: 70%; width: 70%;" />
        </div>
        <div class="col-md-6 box-child">
            <h1 class="big-font">Trans<span class="text-green bolder">M&R</span></h1>
            <h4>Solución para la Gestión del Proceso de Mantenimiento de Contenedores & Reparación</h4>
            <h5>
                Avanzada y potente herramienta desarrollada para un eficiente mantenimiento y proceso de reparación. Solución de gestión diseñada para identificar, dar seguimiento y controlar el mantenimiento & reparación de los equipos de la flota.
            </h5>
        </div>
    </div>
</div>
