body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}
html, body {
    height: 100%;
}

.container-fluid {
    padding-left: 1;
    padding-right: 1;
}

/* Video wallpaper */
#main {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 400px 0;
    min-height: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    padding: 30px 10% 35px 10%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    /* to transition .cbp-af-header-shrink */
}
.navbar-brand,
.navbar-brand:hover {
    padding: 0;
    color: #444 !important;
}
.navbar-brand img {
    width: 50px;
    margin: 0;
    display: inline;
}
.navbar-brand h2 {
    float: right;
    margin: 15px 0 0 0;
    padding-left: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #20B66B;
}
.navbar-nav {
    padding-top: 10px;
}

.bolder {
    font-weight: bolder;
}
.lighter {
    font-weight: lighter;
}
/* Note: cbp-af-header-shrink class selector is used for animating heading */

.cbp-af-header-shrink {
    padding-bottom: 5px;
    padding-top: 5px;
    opacity: 0.9;
}
.fill-screen {
    background-size: cover;
    background-position: center;
}
.text-banner {
    text-align: center;
    margin: 40px 20px;
}
.text-banner .team {
    margin: 10px 10%;
}
.text-banner img {
    width: 35%;
    margin: auto;
    margin-top: 20px;
}
.text-banner h1 {
    font-size: 44px;
}
.text-banner h4 {
    font-size: 14px;
}
.text-banner p {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
}
.activity-section {
    margin: 50px;
}
.activity-element {
    text-align: center;
}
.activity-element img {
    height: 150px;
    width: 150px;
}
.contact {
    margin: 50px;
    text-align: center;
}
.title-image {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    text-align: center;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.title-image h1 {
    color: #fff;
    font-size: 9em;
}
.title-image h3 {
    color: #fff;
}
.title-image h1, .title-image h3 {
    text-shadow: 2px 2px 4px #000;
}
.social div {
    display: inline;
    opacity: 0.6;
    padding-left: 5px;
    padding-right: 5px;
}
.social div:hover {
    opacity: 0.9;
}
.social img {
    width: 3%;
}
.text-red {
    color: #cc0404;
}
.text-green {
    color: #20B66B;
}
.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.down-button i {
    color: white;
}
.fixed-attachment {
    background-attachment: fixed;
}

.big-font {
    font-size: 8em;
}
.xp-list {
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
}
.xp-list h4 {
    font-family: "Times New Roma";
    font-size: 2em;
    margin: 30px 0;
}
.box-banner {
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
}
.box-banner h3 {
    margin-top: 0
}
.box-parent,
.box-child {
    padding: 0;
    margin: 0;
    min-height: 240px;
}
.box-gray {
    background-color: #ccc;
}
.box-orange {
    background-color: #EEB54C;
}
.box-green {
    background-color: #36BD7A;
}
.box-blue {
    background-color: #86CDEA;
}

.skills {
    position: relative;
}
[class^="s-item-"], .s-title, .s-separator-top, .s-separator-bottom {
    position: absolute;
    padding: 20px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.s-title {
    color: #fff;
    font-weight: bold;
}
[class^="s-item-"] h3, [class^="s-item-"] h4 {
    color: #1de2cb;
}
[class^="s-item-"] img {
    height: 70px;
    width: 70px;
}
.s-title, .s-separator-top, .s-separator-bottom {
    left: 50.0%;
    width: 80%;
}
.s-title {
    top: 60px;
}
.s-separator-top {
    top: 125px;
}
.s-separator-bottom {
    bottom: 45px;
}
.s-item-1 {
    left: 15.0%;
    top: 25.0%;
}
.s-item-2 {
    left: 35.0%;
    top: 25.0%;
}
.s-item-3 {
    left: 55.0%;
    top: 25.0%;
}
.s-item-4 {
    left: 75.0%;
    top: 25.0%;
}
.s-item-5 {
    left: 15.0%;
    top: 45.0%;
}
.s-item-6 {
    left: 35.0%;
    top: 45.0%;
}
.s-item-7 {
    left: 55.0%;
    top: 45.0%;
}
.s-item-8 {
    left: 75.0%;
    top: 45.0%;
}
.s-item-9 {
    left: 35.0%;
    top: 65.0%;
}
.s-item-10 {
    left: 55.0%;
    top: 65.0%;
}
footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}
aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

/* start: Contact */
#contact {
    margin: 65px auto 112px;
}
.contact-form {
    display: table;
    max-width: 600px;
    margin: 0 auto;
}
#contact h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 67px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}
#info {
    height: 40px;
    color: #37cc81;
    display: none;
    font-family: ff-tisa-web-pro,serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
#contact .form-group {
    margin-bottom: 12px;
}
#contact input {
    height: 55px;
}
#contact input, #contact textarea {
    font-family: ff-tisa-web-pro,serif;
    font-style: italic;
    border-radius: 0;
    padding: 12px 20px;
    font-size: 18px;
    color: #666;
    border: 2px solid #000;
    box-shadow: none;
}
.btn-send {
    width: 100%;
    border: 2px solid #000;
    border-radius: 0;
    padding: 20px;
    font-family: ff-tisa-web-pro,serif;
    font-size: 16px;
    font-style: italic;
    color: #fff;
    background-color: #000;
    text-align: center;
}
/* end: Contact */

/* MEDIA QUERIES */

@media (max-width: 320px) {
    .navbar {
        padding: 15px 15px;
    }
    .navbar-header {
        position: relative;
    }
    .navbar img {
        /* Centering vertically */
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0;
        width: 15%;
    }
    .title-image h1 {
        font-size: 4em;
    }
    .title-image h3 {
        font-size: 1.5em;
    }
    .down-button {
        bottom: 10px;
    }
}
@media (min-width: 321px) and (max-width: 640px) {
    body {
        padding-top: 70px;
    }
    .navbar {
        padding: 15px 15px;
    }
    .navbar-header {
        position: relative;
    }
    .navbar img {
        /* Centering vertically */
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0;
        width: 10%;
    }
    .title-image h1 {
        font-size: 5em;
        margin-bottom: 5px;
    }
    .title-image h3 {
        font-size: 1.5em;
        margin-top: 0;
    }
    .down-button {
        bottom: 10px;
    }
}

/* Make all images scrollables for devices smaller than 1024px like iOS7, iOS8 and some small Android devices */

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}