.t-img{
     filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.t-img:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}
.s-col-6{
    height: 500px;
    padding: 0;
    margin: 0;

}
.s-map{
    position: relative;
	width: 100%;
	height:500px;
	transition: all 0.6s ease;
}
.g-map{
    width: 100%;
    height: 100%;
}
.s-bottonbox{
    display: block;
}
.s-open{
    position: relative;
	cursor: pointer;
	z-index: 200;
	display: none;
	width: 150px;
	margin: 40px auto;
	text-align: center;
}
.s-close{
    position: absolute;
	cursor: pointer;
	z-index: 9999;
	right: 38px;
	bottom: 28px;
	display: none;
}
.s-centered{
    display: table;
    width: 100%;
    height: 100%;
}
.s-centered-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.s-info h4{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto 36px;
    color: white;
    position: relative;
    padding-bottom:10px;
}
.s-info h4:after{
    content: "";
    position: absolute;
    width: 100px;
    border: 1px solid white;
    bottom :0;
    left :0;
    right:0;
    margin: auto;
}
.s-info a{
    font-size: 40px;
    color: white;
    display: block;
}
.s-info a:hover{
    text-decoration: none;
}
@media screen and (max-width:768) {
    .s-map{
        top: -150%;
		position: fixed;
		z-index: 1010;
		width: 100%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: perspective(200px) rotateX(-20deg);
    }
    .s-map.active{
        top: 0;
		opacity: 1;
		height: 100%;
		filter: none;
		transform: perspective(200px) rotateX(0deg);
		visibility: visible;
    }
    .s-close, .s-open{
        display: block;
    }
}
